@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('../../Fonts/MUSICONN/montserrat-v13-latin-200.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url('../../Fonts/MUSICONN/montserrat-v13-latin-200.eot?#iefix') format('embedded-opentype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-200.woff2') format('woff2'), url('../../Fonts/MUSICONN/montserrat-v13-latin-200.woff') format('woff'), url('../../Fonts/MUSICONN/montserrat-v13-latin-200.ttf') format('truetype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-200.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../../Fonts/MUSICONN/montserrat-v13-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../../Fonts/MUSICONN/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-regular.woff2') format('woff2'), url('../../Fonts/MUSICONN/montserrat-v13-latin-regular.woff') format('woff'), url('../../Fonts/MUSICONN/montserrat-v13-latin-regular.ttf') format('truetype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../../Fonts/MUSICONN/montserrat-v13-latin-600.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../../Fonts/MUSICONN/montserrat-v13-latin-600.eot?#iefix') format('embedded-opentype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-600.woff2') format('woff2'), url('../../Fonts/MUSICONN/montserrat-v13-latin-600.woff') format('woff'), url('../../Fonts/MUSICONN/montserrat-v13-latin-600.ttf') format('truetype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-600.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('../../Fonts/MUSICONN/montserrat-v13-latin-700.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../../Fonts/MUSICONN/montserrat-v13-latin-700.eot?#iefix') format('embedded-opentype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-700.woff2') format('woff2'), url('../../Fonts/MUSICONN/montserrat-v13-latin-700.woff') format('woff'), url('../../Fonts/MUSICONN/montserrat-v13-latin-700.ttf') format('truetype'), url('../../Fonts/MUSICONN/montserrat-v13-latin-700.svg#Montserrat') format('svg');
}
