/* ##################################################### */
/* ########### Custom Layout Styles #################### */
/* ##################################################### */

.banner {
     background: url(../../../Public/Images/MUSICONN/header-small.jpg);
     background-size: cover;
     .wrap {
        padding-top: 8em;
         h1 {
            margin: 0;
             span {
                display: block;
            }
        }
         img {
            max-width: 6em;
        }
    }
}
 .blocks {
     a {
        display: block;
        position: relative;
         img {
            -webkit-filter: grayscale(1);
             filter: grayscale(1);
             opacity: .1;
            transition: .6s;
        }
         p {
            position: absolute;
             top:40%;
             left:0;
             width: 100%;
             text-align: center;
             text-transform: uppercase;
             font-size: 1.2rem;
             padding: .3em 0;
            transition: .6s;
        }
         &:hover {
            color:@color1;
             img {
                -webkit-filter: grayscale(0);
                 filter: grayscale(0);
                 opacity: 1
            }
             p {
                background: @color4;
            }
        }
    }
}
