
@gutter: 45px;

@color1: #EE7100; /* Orange */
@color2: #7b7b7b; /* Text Color */
@color3: #f2f2f2; /* Background Grey */

@color4: #fff; 
@color5: darken(@color1, 20%); /* Hover 1 */
@color6: darken(@color2, 20%); /* Hover 2 */
@color7: #c5c5c5; 

@import "reset";
@import "fonts";
@import "icons";
@import "typo";
@import "grid";
@import "forms";
@import "menu";
@import "layout";
@import "responsive";
@import "browser";