<footer class="page-footer">
  <a href="javascript:" class="backtotop"><span><img src="{f:uri.resource(path:'Images/FIDMOVE/Back-to-top.svg')}"/></span></a>
  <div class="container-fluid top-footer">
    <div class="row">
      <div class="d-flex flex-column partners">
        <h4 class="mb-4">Partner</h4>
        <div class="d-flex">
          <div>
            <f:link.external uri="https://www.tib.eu" target="_blank"><img class="w-auto h-auto d-block" alt="TIB Logo" src="{f:uri.resource(path: 'Images/FIDMOVE/TIB_Logo.png')}" /></f:link.external>
          </div>
          <div>
            <f:link.external uri="https://www.slub-dresden.de/" target="_blank"><img class="w-auto h-auto d-block" alt="SLUB Dresden" src="{f:uri.resource(path: 'Images/FIDMOVE/Ebene.png')}" /></f:link.external>
          </div>
          <div>
            <f:link.external uri="http://www.dfg.de/" target="_blank"><img class="w-auto h-auto d-block" alt="DFG Deutsche Forschungsgemeinschaft" src="{f:uri.resource(path: 'Images/FIDMOVE/dfg.png')}" /></f:link.external>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bottom-footer">
    <div class="row d-flex">
      <div class="social-icons d-flex align-items-center">
        <a href="https://twitter.com/@FIDmove"><span><img class="align-middle" src="{f:uri.resource(path: 'Images/FIDMOVE/twitter.svg')}" />Twitter</span></a>
        <f:comment><a href="#"><span><img class="align-middle" src="{f:uri.resource(path: 'Images/FIDMOVE/facebook.svg')}" />Facebook</span></a></f:comment>
      </div>
      <div class="d-flex footer-copyright py-3">
        <f:format.raw>{footermenu}</f:format.raw>
        <f:comment><span class="text-center">© Technische Informationsbibliothek (TIB) <f:format.date format="Y">now</f:format.date></span></f:comment>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
