{namespace si=Slub\SlubWebQucosa\ViewHelpers}
<a id="totop" href="#top" role="button"><span class="icon-arrow-up"></span></a>

<f:render section="Header" partial="MusiconnPublish/Header" arguments="{_all}" />


<main id="main" itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage">

    <div class="banner">
        <div class="wrap">
            <h1>{data.title}</h1>
        </div>
    </div>
    <f:if condition="{data.uid} == {pageIdFaq}">
        <f:then>
            <f:render section="FAQ" optional="true" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render section="Content" optional="true" arguments="{_all}" />
        </f:else>
    </f:if>

</main>

<f:render section="Footer" partial="MusiconnPublish/Footer" arguments="{_all}" />

<f:render section="Piwik" />
