<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment><!--

    This is a trimmed down version of the basic textmedia template.
    It'll render only one image on the left/right side of the text or a gallery
    for the new publications on the homepage. It could be selected via the imageorient setting.

--></f:comment>

<div class="musiconn-content-element content-type-image{f:if(condition: files.0, then: ' got-image')}">
    
    <f:render partial="CustomHeader" arguments="{header: data.header, layout: data.header_layout}" />

    <f:if condition="{data.imageorient} == 99">
        <f:then>
            <div class="content-body">{data.bodytext -> f:format.html()}</div>
            <f:render partial="Gallery" arguments="{images: files, border: data.imageborder}" />
        </f:then>
        <f:else>
            <f:render partial="SingleImage" arguments="{image: files.0, border: data.imageborder, orientation: data.imageorient}" />
            <div class="content-body">{data.bodytext -> f:format.html()}</div>
        </f:else>
    </f:if>

</div>

</html>
