<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment><!--

    This is a very lean version of the text content element
    for Musiconn.Publish. It uses a custom header partial
    and thats all of it.
    
--></f:comment>

<div class="musiconn-content-element content-type-text">

    <f:render partial="CustomHeader" arguments="{header: data.header, layout: data.header_layout}" />

    <div class="content-body">{data.bodytext -> f:format.html()}</div>

</div>

</html>
