<div class="site mx-auto">
  <div class="page">
    <f:render partial="Header" arguments="{_all}" />
  <section class="allcont">
    <f:render partial="Headerimage" arguments="{_all}" />
    <div class="container space_after_extra-large">
    <f:render partial="Subpagesheading" arguments="{_all}" />
    <f:render section="Content" />
    </div>
  </section>
    <!-- //section -->
  <f:render partial="Footer" arguments="{_all}" />
 </div>
  <!-- //page -->
</div>

<f:render section="Piwik" />

<!-- //site -->
