<f:layout name="Standard" />

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Content">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4 sidebar">
      <f:format.raw>{content_right}</f:format.raw>
    </div>
    <div class="col-md-8 order-md-1">
      <f:format.raw>{content}</f:format.raw>
    </div>
  </div>
</f:section>

<f:section name="Piwik">
  <f:render section="Piwik" partial="Piwik" />
</f:section>

</div>
