{namespace si=Slub\SlubWebQucosa\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Footer">
  <div class="footer">
    <div class="footerContainer">
      <f:link.page title="<f:translate key='tx_slubwebqucosa.printthispage' extensionName='slub_web_qucosa' />" class="printthispage" onclick="JavaScript:window.print();return false;"><f:translate key="tx_slubwebqucosa.printthispage" extensionName="slub_web_qucosa"/></f:link.page>
      <f:link.page title="<f:translate key='tx_slubwebqucosa.jumptotop' extensionName='slub_web_qucosa' />" id="totop"><f:translate key="tx_slubwebqucosa.jumptotop" extensionName="slub_web_qucosa"/></f:link.page>
    </div>
  </div>
</f:section>

</div>
