{namespace si=Slub\SlubWebQucosa\ViewHelpers}
<a id="top"></a>

<div id="bgtop"><div id="ghosticon"></div></div>

<div id="container">
  <div id="navlogo">
    <f:link.page pageUid="{rootPageId}" id="homelink" title="<f:translate key='tx_slubwebqucosa.gotohomepage' extensionName='slub_web_qucosa' />">&nbsp;</f:link.page>
  </div>
  <div id="maintop"></div>
  <div id="main">
    <div id="header">
    </div>
    <div id="skip_nav">
      <ul>
        <li>
          <f:link.page pageUid="{rootPageId}" accesskey="1" title="<f:translate key='tx_slubwebqucosa.gotohomepage' extensionName='slub_web_qucosa' />">
            <f:translate key="tx_slubwebqucosa.gotohomepage" extensionName="slub_web_qucosa"/>
          </f:link.page>
        </li>
        <li>
          <f:link.page section="skip2content" accesskey="2" title="<f:translate key='tx_slubwebqucosa.skiptocontent' extensionName='slub_web_qucosa' />">
            <f:translate key="tx_slubwebqucosa.skiptocontent" extensionName="slub_web_qucosa"/>
          </f:link.page>
        </li>
        <li>
          <f:link.page section="skip2nav" accesskey="3" title="<f:translate key='tx_slubwebqucosa.skiptomainnav' extensionName='slub_web_qucosa' />">
            <f:translate key="tx_slubwebqucosa.skiptomainnav" extensionName="slub_web_qucosa"/>
          </f:link.page>
        </li>
        <li>
          <f:link.page pageUid="{imprintPageId}" accesskey="4" title="<f:translate key='tx_slubwebqucosa.gotoimprint' extensionName='slub_web_qucosa' />">
            <f:translate key="tx_slubwebqucosa.gotoimprint" extensionName="slub_web_qucosa"/>
          </f:link.page>
        </li>
      </ul>
    </div>
    <a id="skip2content"></a>
		  <div id="content">
        <f:render section="Content" optional="true" arguments="{_all}" />
      </div>
  </div>
  <f:render section="Footer" partial="Footer" arguments="{_all}" />
  <div id="mainbottom"></div>

  <div id="navbar">

    <a id="skip2nav"></a>
    <a id="a_nav"></a>
    <f:cObject typoscriptObjectPath="lib.mainnav" />
    <f:cObject typoscriptObjectPath="lib.navsearch" />
    <f:cObject typoscriptObjectPath="lib.langnav" />
    <div id="navend"></div>
  </div>
  <div id="qucosainstall">Diese Website ist eine Installation von Qucosa - Quality Content of Saxony!</div>
</div>

<div id="endspacer">
  <div id="byslub"><a href="https://www.slub-dresden.de/" rel="external" title="Sächsische Landesbibliothek Staats- und Universitätsbibliothek Dresden">Sächsische Landesbibliothek Staats- und Universitätsbibliothek Dresden</a></div>
</div>

<f:render section="Piwik" />
