<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Content">

  <f:format.raw>{content}</f:format.raw>


</f:section>

<f:section name="LangNav">

</f:section>

<f:section name="Endspacer">
<p>Ein Projekt der <a href="https://www.slub-dresden.de/" title="Sächsische Landesbibliothek – Staats- und Universitätsbibliothek Dresden" target="_blank" class="iconlink">
    <f:image src="EXT:slub_web_qucosa/Resources/Public/Images/MUSICONN/Logo_SLUB_2012.png" alt="Sächsische Landesbibliothek – Staats- und Universitätsbibliothek Dresden" />
  </a>
  Gefördert von <a href="http://www.dfg.de/" title="Deutsche Forschungsgemeinschaft" target="_blank" class="iconlink">
    <f:image src="EXT:slub_web_qucosa/Resources/Public/Images/MUSICONN/dfg_logo_schriftzug_blau_4c.png" alt="Deutsche Forschungsgemeinschaft" />
  </a>
</p>
</f:section>

<f:section name="Piwik">
  <f:render section="Piwik" partial="MUSICONN/Piwik" />
</f:section>

</div>
