<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{images}">
    <div class="gallery-container">
        <f:for each="{images}" as="image">
            <figure class="gallery-image{f:if(condition: border, then: ' got-border')}">
                <f:if condition="{image.link}">
                    <f:then>
                        <f:link.typolink parameter="{image.link}" title="{image.title}">
                            <f:image image="{image}" />
                        </f:link.typolink>
                    </f:then>
                    <f:else>
                        <f:image image="{image}" />
                    </f:else>
                </f:if>
                <f:if condition="{image.description}">
                    <figcaption>{image.description}</figcaption>
                </f:if>
            </figure>
        </f:for>
    </div>
</f:if>

</html>
