<a href="#" class="qsa_opening-teaser__card qsa_opening-teaser__card--grid">
    <div class="qsa_opening-teaser__icon">
        <f:render partial="Icon" arguments="{title:'Icon Arrow', description:'Teasericon', icon:'{flexform.teasericon}'}" />
    </div>
    <div class="qsa_opening-teaser__description">
        <h2 class="h6">{data.header}</h2>
        <p>{data.bodytext}</p>
    </div>
    <div class="qsa_opening-teaser__button">
        <f:render partial="Icon" arguments="{title:'Icon Arrow', description:'Ein Pfeil nach links zeigend', icon:'arrow-circle'}" />
    </div>
</a>
