<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="qsa_content-item__content">
    <header class="qsa_content-item__header">
        <span class="qsa_content-item__meta">Kategorie &nbsp; | &nbsp; Veröffentlichungsdatum</span>
        <h1 class="h2 qsa_content-item__title">{data.header}</h1>
        <h2 class="h3 qsa_content-item__subtitle">{data.subheader}</h2>
    </header>
    <div class="qsa_content-item__body">
        <f:format.html>{data.bodytext}</f:format.html>
    </div>
</div>

</html>
