* { box-sizing: border-box; }

.tx-dlf-metadata dd.title, ol.prominentlist,
a, a:visited, h3, ul.errors li, #nav .buttonactive,
.tx-slubopus4frontend input.addButton:hover,
.tx-slubopus4frontend input.remButton:hover,
#tx_slubopus4frontend-form fieldset input:focus,
.tx-slubopus4frontend fieldset textarea:focus,
#tx_slubopus4frontend-prevStep:hover,
#tx_slubopus4frontend-submit:hover,
#tx_slubopus4frontend-reset:hover { color:#ec7602; }

#dedscontent .tabbar,
#dedscontent .tabcontent,
#dedscontent .inputselected,
.tx-slubopus4frontend .processsteps a,
.tx-slubopus4frontend .processsteps a:visited,
.tx-slubopus4frontend fieldset textarea:focus,
.tx-slubopus4frontend fieldset select:focus  { border-color: #002f51; }

.tx-dlf-toolbox .tx-dlf-tools-pdf-page a,
.tx-slubopus4frontend .processsteps a.selected,
.tx-slubopus4frontend .processsteps a:visited,
.tx-slubopus4frontend .processsteps a.selected:visited { background-color: #002f51; }


#smallsearch { background-color: #999; border-radius: 0; }

#header { top: -22px; height: 120px; background-image:url(../../Images/UBL/header.png); background-color: #fff; background-position: 0 0; }
#navlogo #homelink { background-image:url(../../Images/UBL/logo.png); }
#ghosticon { background-image: url(../../Images/UBL/ghosticon.png); }

body {
	background-image: url(../../Images/UBL/ublbg.png);
}

#qucosainstall {
    right: auto;
    left: 84px;
    top: 480px;
    width: 80px;
    height: 80px;
    font-size: 10px;
    background: url(../../Images/UBL/ublinstallicon.png) no-repeat center top;
    background-size: contain;
    text-indent: -2000px;
    overflow: hidden;
    padding: 0;
    text-align: left;
}


#byslub, #bgtop { display: none; }
#navend { background: url(../../Images/UBL/ublnaviend.png) no-repeat 0 0;  }

#navlogo #homelink { top:0; bottom: auto; height: 122px; }
#navlogo { height: 122px; }
#navbar { top: 172px; }

#mainbottom { background: url(../../Images/UBL/ublmainbottom.png) no-repeat 0 0; }

#ublstartsearch { margin: 40px auto; }
#ublstartsearch label { color: #999; }

#ublstartsearch input { border: 1px solid #002f51; background: #fff; }

#ublstartsearch #searchword { padding: 4px; font-size: 14px; width: 380px; float: right; }

#ublstartsearch div { position: relative; margin: 20px 0 0 0; width: 100%; text-align: right; }

#ublstartsearch div input { padding: 2px; color: #002f51; cursor: pointer; }
#ublstartsearch div input:hover { border-color: #f09000; color: #f09000; background: #ffffcc; }
