/* Additional CSS styles specifically for the UBL client */

/*  There's no translation necessary so we hide this option */
.qsa_dropdown--language {
	display: none;
}

/* TODO: move into the common styles and remove specific workaround for hyper link styles */

p a {
	font-weight: 500;
	text-decoration: underline !important;
	color: #02133D;
}
p a:hover {
	color: #404D6D;
	cursor: pointer;
}
