<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Content">

  <f:format.raw>{content}</f:format.raw>

</f:section>

<f:section name="LangNav">
  <f:cObject typoscriptObjectPath="lib.langnav" />
</f:section>

<f:section name="Endspacer">
  <div id="byslub"><a href="https://www.slub-dresden.de/" rel="external" title="Sächsische Landesbibliothek Staats- und Universitätsbibliothek Dresden">Sächsische Landesbibliothek Staats- und Universitätsbibliothek Dresden</a></div>
</f:section>

<f:section name="Piwik">
  <f:render section="Piwik" partial="FHZWICKAU/Piwik" />
</f:section>

</div>
