

.tx-dlf-metadata dd.title, ol.prominentlist,
a, a:visited, h3, ul.errors li, #nav .buttonactive,
.tx-slubopus4frontend input.addButton:hover,
.tx-slubopus4frontend input.remButton:hover,
#tx_slubopus4frontend-form fieldset input:focus,
.tx-slubopus4frontend fieldset textarea:focus,
#tx_slubopus4frontend-prevStep:hover,
#tx_slubopus4frontend-submit:hover,
#tx_slubopus4frontend-reset:hover { color:#036; }

#dedscontent .tabbar,
#dedscontent .tabcontent,
.tx-slubopus4frontend .processsteps a,
.tx-slubopus4frontend .processsteps a:visited,
.tx-slubopus4frontend fieldset textarea:focus,
.tx-slubopus4frontend fieldset select:focus  { border-color: #036; }

.tx-dlf-toolbox .tx-dlf-tools-pdf-page a, #smallsearch, #dedscontent .tabbar a.active,
.tx-slubopus4frontend .processsteps a.selected, #dedscontent form#search input[type="submit"],
.tx-slubopus4frontend .processsteps a:visited,
.tx-slubopus4frontend .processsteps a.selected:visited { background-color: #036; }


#header { background-image:url(../../Images/DIU/header.jpg); }
#navlogo #homelink { background-image:url(../../Images/DIU/logo.jpg); }
#ghosticon { background-image: url(../../Images/DIU/ghosticon.png); }

#navend a#dini {
//        background: url('../images/dinismall.gif') no-repeat 0 0;
}
#navend #dinibig {
 //       background: url('../images/dinibig.png') no-repeat 0 0;
}

/* search form */
div.searchExtForm form.form-inline .form-group {
  margin: 0px 0px 3px 0px;
}

div.searchExtForm form.form-inline .form-group label {
	min-width: 150px;
}
