<f:section name="Header">

    <header itemscope itemtype="http://schema.org/WPHeader">

      <f:link.page pageUid="{rootPageId}" class="logo" title="<f:translate key='tx_slubwebqucosa.musiconn.gotohomepage' extensionName='slub_web_qucosa' />" additionalAttributes="{itemprop:'url'}">
          <span itemprop="name"><f:translate key='tx_slubwebqucosa.gotohomepage' extensionName='slub_web_qucosa' /></span>
          <f:comment>
            TYPO3 6.2 image viewhelper does not work with svg :-(
            width and height will be set to "0"
            see https://forge.typo3.org/issues/62940
            <f:image src="EXT:slub_web_qucosa/Resources/Public/Images/MUSICONN/musiconn_logo_weiss.svg" alt="musiconn Logo" />
          </f:comment>
          <img src="/typo3conf/ext/slub_web_qucosa/Resources/Public/Images/MUSICONN/musiconn_logo_weiss.svg" alt="musiconn Logo">
      </f:link.page>

      <a class="trigger"><span class="icon-menu"></span></a>

        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" id="mainnav">

            <ul>
                <!--<li><a href="#" title="" itemprop="url"><span itemprop="name">Home</span></a></li>-->
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Recherche</span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Abgabeformular</span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Zeitschriften<span> Angebot</span></span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Über uns<span class="highlight"> musiconn.publish</span></span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">FAQ</span></a></li>
            </ul>

        </nav>

        <div class="suche">
            <form>
                <input name="suche" value="" type="search" placeholder="SUCHE">
                <button type="submit"><span class="icon-search"></span></button>
            </form>
        </div>

    </header>
</f:section>
