<f:section name="Header">

    <header itemscope itemtype="http://schema.org/WPHeader">

      <a class="logo" href="#" title="musiconn - für vernetzte Musikwissenschaft" itemprop="url">
        <span itemprop="name">Home</span><img src="layout/images/musiconn_logo_weiss.svg" alt="musiconn Logo">
      </a>

        <a class="trigger"><span class="icon-menu"></span></a>

        <nav itemscope itemtype="http://schema.org/SiteNavigationElement" id="mainnav">

            <ul>
                <!--<li><a href="#" title="" itemprop="url"><span itemprop="name">Home</span></a></li>-->
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Recherche</span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Abgabeformular</span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Zeitschriften<span> Angebot</span></span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">Über uns<span class="highlight"> musiconn.publish</span></span></a></li>
                <li><a href="#" title="" itemprop="url"><span itemprop="name">FAQ</span></a></li>
            </ul>

        </nav>

        <div class="suche">
            <form>
                <input name="suche" value="" type="search" placeholder="SUCHE">
                <button type="submit"><span class="icon-search"></span></button>
            </form>
        </div>

    </header>
</f:section>
