{namespace dpf=EWW\Dpf\ViewHelpers}
<div class="qsa_content-area-default qsa_search-result__container container">

    <f:for each="{results}" as="entry">
        <f:if condition="{entry._source}">
            <div class="qsa_search__wrapper qsa_search__wrapper--no-actions">
                <div class="qsa_search-result__item">
                    <h2 class="h6 qsa_search-result__item-title">
                        <f:if condition="{entry._source.objectIdentifier}">
                            <f:then>
                                <a class="qsa_search-result__item-title-link"
                                   href="/landing-page/{entry._source.objectIdentifier}">
                                    {entry._source.title.0}
                                </a>
                            </f:then>
                            <f:else>
                                {entry._source.title.0}
                            </f:else>
                        </f:if>
                    </h2>

                    <div class="qsa_search-result__item-info">
                        <f:if condition="{docTypes.{entry._source.doctype}}">
                            <f:then>
                                <p class="qsa_search-result__item-info__typ">{docTypes.{entry._source.doctype}}</p>
                            </f:then>
                            <f:else>
                                <f:if condition="{entry._source.doctype}">
                                    <p class="qsa_search-result__item-info__typ">{entry._source.doctype}</p>
                                </f:if>
                            </f:else>
                        </f:if>
                        <f:if condition="{entry._source.year}">
                            <p class="qsa_search-result__item-info__date">{entry._source.year}</p>
                        </f:if>
                    </div>

                    <f:if condition="{entry._source.openAccess} == 'true'">
                        <p class="qsa_search-result__item-place">
                            <f:if condition="{entry._source.openAccess} == 'true'">
                                <q>Open Access</q>
                            </f:if>
                        </p>
                    </f:if>

                    <div class="qsa_search-result__item-footer">
                        <f:if condition="{entry._source.persons}">
                            <f:for each="{entry._source.persons}" as="person">
                                <span class="qsa_search-result__item-footer__item btn-round">{person}</span>
                            </f:for>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:if>
    </f:for>

</div>
