/* Bibliotheksportal-Stylesheet [LAYOUT] */
/* Autor: Thomas Jung, Sächsische Landesbibliothek - Staats- und Universitätsbibliothek Dresden | 2007 */
/* Telefon: +49 (0)351 5636328 Email: jung@slub-dresden.de */

* {
	margin:0;
	padding:0;
	font-size:1em;
}

html {
	height:100%;
	text-align:left;
	font-size:12px;
}

body {
	background-color:#fff;
	background-image:url(../Images/bg.gif);
	background-repeat:repeat;
	background-position:0 0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
	height:100%;
	text-align:center;
}

img { border:none; }

ul { list-style-type:none; }

a, a:visited {
	text-decoration:none;
	font-weight:normal;
	border-style:dotted;
	border-width:0 0 1px;
}

a:focus, a:hover { border-color:#999; color:#999; }

#skip_nav, .dontread { display:none; }

#bgtop {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:500px;
	background-image:url(../Images/bggrad.gif);
	background-repeat:repeat-x;
	z-index:1;
}

#container {
	position:relative;
	top:0;
	left:0;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	z-index:2;
	text-align:left;
}

#navbar {
	position:absolute;
	top:195px;
	left:0;
	width:245px;
	min-height:170px;
	background-image:url(../Images/navbg.png);
	background-repeat:repeat-y;
	z-index:3;
}

#navlogo {
	position:absolute;
	top:50px;
	left:0;
	width:245px;
	height:145px;
	background-image:url(../Images/navlogobg.png);
	background-repeat:no-repeat;
	display:block;
	border-width:0;
	z-index:3;
}

#navlogo #homelink {
	position: absolute;
	bottom: 19px;
	left: 22px;
	width: 200px;
	height: 100px;
	display: block;
	border-width:0;
	z-index:4;
	background-repeat:no-repeat;

}

#navlogo h1, #kooperation h5 {
	display:none;
	border:none;
}

#nav {
	position:relative;
	left:22px;
	top:0;
	margin-top:20px;
	width:200px;
	min-height:100px;

}

#nav li {
	position:relative;
	min-width:200px;
	min-height:10px;
	display:block;
	border-bottom:#ccc dashed 1px;
}

#nav a {
	position:relative;
	top:0;
	left:0;
	min-height:12px;
	padding:5px 20px 5px 0;
	display:block;
	font-size:10px;
	border:none;
	text-align:right;
	text-decoration:none;
	color:#666;
}

#nav .active {
	position:absolute;
	top:0;
	right:-20px;
	width:20px;
	height:20px;
	background:url(../Images/actnavi.gif) no-repeat 0 0;
	display:block;
}

#nav .buttonactive { font-weight:bold; }

#nav a:hover { background-color:#eee; }
#nav .buttonactive:hover { background-color:#fff; }

#naviverlauf {
	position:absolute;
	top:0;
	left:22px;
	width:85px;
	height:100%;
	background-image:url(../Images/naviverlauf.png);
	background-repeat:repeat-y;
}

#navend {
	position:absolute;
	bottom:-300px;
	left:0;
	width:245px;
	height:300px;
	background-image:url(../Images/naviend.png);
	background-repeat:no-repeat;
}

#smallsearch { position: relative; display: block; width: 215px; margin-left: 15px; height: 40px; padding: 8px 7px; z-index:5; border-radius: 0 15px 0 0; box-shadow: 0 2px 8px rgba(0,0,0,0.2) }
#smallsearch label { display: none; }
#smallsearch #tx-dlf-search-query { padding: 1px 4px; width: 170px; }

#smallsearch #submit {
	position:absolute;
	top:5px;
	right:6px;
	width: 30px;
	height:30px;
	cursor:pointer;
	display: block;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAQAAACFih+zAAABFklEQVR4AY3LM/gWUABG8Ztt264pjrWHJczZttawZCy5JdtN2bZt2/3+ufth+M72nue84S9amO+2rz46Z5LKIT0KWAJ46AX4YJhsqWF+B/BQH8V/7Rom+4jpqekcHFYqdpp4go4hRn1fPVImJKEVbsodq6noHdJgOdrF4pyviqVN22B2LD64HNKiPLbGgtPpU8WxOxaPPJUtbdoIq2OxGU3TpsMxMhZdom+E/O74rnqscruKrklhNkuwNPnf0hffjZf7nyltJegQktHJR9w1XS8DLfUGT/BG89S4vq0A+GyuokbhlUYhFZV1Mc5onRT/YybiiTohE8zEXdUzSbNZiKsqZhLnsBznlMokzm0DjoVMkN9O17IAS7MLumLchtwAAAAASUVORK5CYII=) no-repeat center center;
	border: 0 none;
}

#maintop {
	position:relative;
	top:0;
	left:105px;
	width:770px;
	height:30px;
	background-image:url(../Images/bgcontent_oben.png);
	background-repeat:no-repeat;
}

#main {
	position:relative;
	top:0;
	left:105px;
	width:770px;
	background-image:url(../Images/bgcontent.png);
	background-repeat:repeat-y;
	z-index:2;
}

#mainbottom {
	position:relative;
	top:0px;
	left:105px;
	width:770px;
	height:200px;
	background-image:url(../Images/bgcontent_unten.png);
	background-repeat:no-repeat;
}

#qucosainstall {
	position: absolute;
	top: -15px;
	right: 20px;
	width: 500px;
	height: 61px;
	background: #ff0;
	overflow: hidden;
	display: block;
	background: url(../Images/installicon.png) no-repeat right top;
	z-index: 111;
	padding:4px 65px 0 0;
	text-align:right;
	font-size: 11px;
	color: #666;
}

#ghosticon {
	position: relative;
	margin: 0 auto;
	width: 920px;
	height: 250px;
	background-repeat: no-repeat;
	background-position: 0 0;
 }

#header{
	position:relative;
	top:-7px;
	left:5px;
	width:750px;
	height:140px;
	background-repeat:no-repeat;
	background-position:15px 0;
	border-width:0 0 1px;
	border-color:#999;
	border-style:dashed;
}

.footer {
	position:absolute;
	bottom:100px;
	left:260px;
	width:580px;
	height:30px;
	font-size:10px;
	padding-top:20px;
	color: #bbb;
	z-index:5;
	border-style:dashed;
	border-color:#999;
	border-width:1px 0 0;
}

.footer .printthispage {
	position:absolute;
	top:10px;
	left:0px;
	padding-left:18px;
	background:url(../Images/printthispage.gif) no-repeat 0px 1px;
}

.footer a {
	color:#bbb !important;
	border-color:#bbb !important;
}

blockquote {
	position:relative;
	margin:20px 0;
	padding:0 30px 0 0;
}

#totop {
	position:absolute;
	right:0px;
	top:2px;
	text-indent:-4000px;
	width:90px;
	height:20px;
	background-image:url(../Images/totop.gif);
	background-repeat:no-repeat;
	border-width:0;
}

.info {
	list-style-type:square;
    margin-left: 20px;
}

/* the background image is set in the corresponding client.css */
#navend a#dini {
	position: absolute;
	right: 37px;
	top: 112px;
	width: 81px;
	height: 81px;
	display: block;
	overflow: hidden;
	text-indent: -9000px;
	border: none;
}

#navend #dinibig {
	position: absolute;
	top:40px;
	left: 190px;
	width: 220px;
	height: 220px;
	display: none;
	overflow: hidden;
	text-indent: -9000px;
	border: none;
}

#endspacer {
        position:relative;
        top:0;
        left:0;
        width:100%;
        height:120px;
        margin:0 auto 0 auto;
}

#byslub {
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        height:4em;
        border-bottom: 4px solid #c00;
        font-size: 0.625em;
        text-align: left;
}

#byslub a {
        position: relative;
        height: 4em;
        width: 60em;
        display: block;
        overflow: hidden;
        text-indent: -900em;
        background: url('../Images/byslub.gif') no-repeat 0 0;
}
