{namespace s=SJBR\StaticInfoTables\ViewHelpers}
{namespace eww=EWW\Dpf\ViewHelpers}

<f:switch expression="{fieldItem.inputField}">
    <f:case value="0">
        <f:if condition="{fieldItem.dataType}=='DATE'">
            <f:then>
                <f:form.textfield id="inp_{fieldItem.uid}"
                                  property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                  value="{fieldItem.value}"
                                  class="form-control input-field"
                                  additionalAttributes="{
                                        data-datatype: 'DATE',
                                        data-field:fieldItem.uid,
                                        data-index:fieldIndex,
                                        data-mandatory:fieldItem.mandatory,
                                        data-group:formGroupUid,
                                        data-groupindex:groupIndex,
                                        data-default:fieldItem.hasDefaultValue,
                                        data-regexp:fieldItem.validation,
                                        data-label:fieldItem.displayName,
                                        data-maxlength:fieldItem.maxInputLength
                    }"/>
            </f:then>
            <f:else>
                <f:if condition="{fieldItem.fillOutService} == 'gnd'">
                    <f:then>
                        <f:form.textfield id="inp_{fieldItem.uid}"
                                          property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                          value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService}"
                                          additionalAttributes="{data-ajax: \"{f:uri.action(action:'search',controller:'Gnd',pageType:427590)}\" data-gndfield: fieldItem.gndFieldUid,data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength}"/>
                    </f:then>
                    <f:else>
                        <f:form.textfield id="inp_{fieldItem.uid}"
                                          property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                          value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService}"
                                          additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength}"/>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:case>
    <f:case value="1">
        <f:form.textarea id="inp_{fieldItem.uid}"
                         property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                         value="{fieldItem.value}" class="input-field form-control {fieldItem.fillOutService}"
                         additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength}"/>
        <f:if condition="{fieldItem.maxInputLength}">
            <div class="countwrapper"><span class="count">0</span>/<span class="limit">{fieldItem.maxInputLength}</span></div>
        </f:if>

    </f:case>
    <f:case value="2">
        <div class="qsa_select qsa_select__header">
            <span class="qsa_select__label sr-only">{fieldItem.displayName}</span>
            <div class="qsa_select__wrapper  qsa_select__wrapper-header" data-showinsummary="false" data-required="false">
                <label class="qsa_select__label qsa_select__label-header" for="inp_{fieldItem.uid}" data-index="{fieldIndex}" data-field="{fieldItem.uid}>
                    {fieldItem.displayName}
                </label>
                <f:form.select id="inp_{fieldItem.uid}"
                               class="qsa_select__native js-selectNative qsa_select__native-header {fieldItem.fillOutService}"
                               property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                               value="{fieldItem.value}"
                               additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}"
                               options="{fieldItem.inputOptions}"/>
                <div class="qsa_select__custom js-selectCustom qsa_select__custom-header qsa_select__language"
                        aria-hidden="true">
                    <div class="qsa_select__custom-trigger qsa_select__custom-trigger-header qsa_select__custom-trigger-light">
                        <p>Sprache</p>
                        <f:render partial="Icon" arguments="{title:'Pfeil nach links', description:'Weitere Elemente anzeigen', icon:'arrow-down'}" />
                    </div>
                    <div class="qsa_select__custom-options " data-iconpath="/typo3conf/ext/slub_web_qucosa/Resources/Public/icons/icon.min.svg#">

                    </div>
                </div>
            </div>
        </div>
    </f:case>
    <f:case value="3">
        <f:if condition="{eww:IsConsentField(condition:'{fieldItem.consent}')}">
            <f:then>
                <f:form.checkbox id="inp_{fieldItem.uid}"
                                 property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                 value="yes" class="input-field form-control input-field-checkbox"
                                 additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}"
                                 checked="{fieldItem.value}" disabled="true"/>
                <f:form.hidden
                        property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                        value="{fieldItem.value}"/>
            </f:then>
            <f:else>
                <f:form.checkbox id="inp_{fieldItem.uid}"
                                 property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                                 value="yes" class="input-field form-control input-field-checkbox"
                                 additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName}"
                                 checked="{fieldItem.value}"/>
            </f:else>
        </f:if>
    </f:case>
    <f:case value="100">
        <div class="dropdown-options input-group">
            <f:form.textfield id="inp_{fieldItem.uid}"
                              property="metadata.{formPageUid}-{formGroupUid}-{groupIndex}-{fieldItem.uid}-{fieldIndex}"
                              value="{fieldItem.value}" class="input-field form-control dropdown-options-input {fieldItem.fillOutService}"
                              additionalAttributes="{data-field:fieldItem.uid,data-index:fieldIndex,data-mandatory:fieldItem.mandatory,data-group:formGroupUid,data-groupindex:groupIndex,data-default:fieldItem.hasDefaultValue,data-regexp:fieldItem.validation,data-datatype:fieldItem.dataType,data-label:fieldItem.displayName,data-maxlength:fieldItem.maxInputLength}"/>

            <span class="input-group-btn">
                    <button class="btn dropdown-options-toggle" type="button">
                        <span class="caret"></span>
                    </button>
                </span>
            <ul class="dropdown-options-values" style="display:none;">
                <f:for each="{fieldItem.inputOptions}" as="inputOptionLabel" key="inputOptionValue" iteration="pageIterator">
                    <li>{inputOptionValue}</li>
                </f:for>
            </ul>
        </div>
    </f:case>
</f:switch>
