<div class="qsa_input-group" data-input="file">
    <div class="qsa_input-group-file" data-showinsummary="false">
        <label class="qsa_input-group-file__label" for="fileupload-{file.uid}" id="buttonlabel{file.uid}">
            <span role="button" aria-controls="fileupload-{file.uid}" tabindex="0">
                <f:render partial="Icon" arguments="{icon:'upload'}" />
            </span>
        </label>
        <span class="qsa_input-group-file-size">PDF | <span>23.8 MB</span></span>
        <f:render partial="Icon" arguments="{icon:'pdf-file'}" />
        <input class="qsa_input-group-file__input" type="file" accept="application/pdf" id="fileupload-{file.uid}">

        <input class="qsa_input-group-file__text-input" type="text" id="{file.uid}--filename" autocomplete="off" readonly placeholder="Eigene Datei hochladen (PDF)">
        <label class="qsa_input-group-file__text-label" for="{file.uid}--filename">
            Eigene Datei hochladen
        </label>
    </div>
</div>
