<div class="qsa_input-group" data-input="file">
    <div class="qsa_input-group-file" data-showinsummary="false">
        <label class="qsa_input-group-file__label" for="sec-fileupload-{file.uid}" id="buttonlabel{file.uid}">
            <span role="button" aria-controls="sec-fileupload-{file.uid}" tabindex="0">
                <f:render partial="Icon" arguments="{icon:'upload'}" />
            </span>
        </label>
        <span class="qsa_input-group-file-size">PDF | <span>23.8 MB</span></span>
        <f:render partial="Icon" arguments="{icon:'pdf-file'}" />

        <button class="qsa_input-group-file-remove btn-outline__without">
            <span class="sr-only">Ausgewählte PDF löschen</span>
            <f:render partial="Icon" arguments="{icon:'delete-bin'}" />
        </button>
        <button class="qsa_input-group-file-add btn-outline__without">
            <span class="sr-only">Eine Weitere Datei hinzufügen</span>
            <f:render partial="Icon" arguments="{icon:'add-btn'}" />
        </button>

        <input class="qsa_input-group-file__input" type="file" accept="application/pdf" id="sec-fileupload-{file.uid}">

        <input class="qsa_input-group-file__text-input" type="text" id="sec-{file.uid}--filename" autocomplete="off" readonly placeholder="Eigene Datei hochladen (PDF)">
        <label class="qsa_input-group-file__text-label" for="sec-{file.uid}--filename">
            Eigene Datei hochladen
        </label>
    </div>
</div>
