<div class="qsa_opening-teaser container">
    <div class="qsa_opening-teaser__card-wrapper">
        <f:format.raw>{data.tx_gridelements_view_column_10}</f:format.raw>
    </div>
    <a class="carousel-control-prev qsa_prev qsa_prev--large" role="button" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Vorheriges Element</span>
    </a>

    <a class="carousel-control-next qsa_next qsa_next--large" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Nächstes Element</span>
    </a>

    <f:link.typolink parameter="{data.flexform_publishurl}" class="qsa_opening-teaser__link">Mehr aktuelle Veröffentlichungen</f:link.typolink>
</div>
