<div class="qsa_opening-teaser qsa_opening-teaser--bg container">
    <div class="qsa_opening-teaser__card-wrapper">
        <f:format.raw>{data.tx_gridelements_view_column_10}</f:format.raw>
    </div>
    <a class="carousel-control-prev qsa_prev" role="button" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{f:translate(key: 'tx_slubwebqucosa.carousel.previous_element')}</span>
    </a>

    <a class="carousel-control-next qsa_next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{f:translate(key: 'tx_slubwebqucosa.carousel.next_element', extensionName: 'slub_web_qucosa')}</span>
    </a>
</div>
