/* GENERAL */

.stick-top {
	position: sticky !important;
	top: 5px;
}

.document-page a, .document-page a:focus {
    text-decoration: underline;
}

.document-page a.btn,
.document-page a.btn:focus {
    text-decoration: none;
}

.document-page a:hover {
   	text-decoration: none;
}

a.page-link,
a.collapsed,
.single-book-section a,
.similar-results a {
	text-decoration: none;
}

ul.pagination {
	list-style: none
}

.no-click {
	pointer-events: none;
}

.searchform .btn { background-color: #f1f1f1; }

/*Hitlist Topline*/
.hitlist-topline#pageOfHits {
    margin-top: 1.5rem !important;
}

.hitlist-topline .dropdown-topline {
    margin-top: 0 !important;
}

.hitlist-topline {
  margin-top: -25px;
  margin-bottom: 10px;
}

/* Hitlist */
.hitlist-options { line-height: 50px; }
.hitlist-area { margin-top: -25px; margin-bottom: 40px; }

/*  NEWS */
.news .article {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
}
.news.news-single .article {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.news-single .article .news-img-wrap {
    float: left;
    margin: 0 15px 0 0;
}

.news-single h3 {
    margin-top: 0;
}

.news-single .teaser-text {
    font-size: 18px;
    color: #4b4b4b;
}

.news h3,.news h4 {
  border-bottom: 0 solid #4b4b4b;
  margin-top: 0;
}
.news h3 a,.news h4 a{
  text-decoration: none;
}


.news .news-list-view hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top-width: 2px;
}



.news.news-single .news-img-caption {
    margin: 0 0 0;
}

.news.news-single .outer {
    margin-bottom: 10px;
}

.news.news-single .footer {
     border-top: 0 solid #eee;
}

.news .footer {
    color: #b4b4b4;
    clear: both;
    padding: 0 0 10px 0;
    border-top: 0 solid #eee;
    margin-top: 0;
}

.news .footer span {
    padding-right: 0;
    margin-right: 0;
    border-right: 0 solid #ddd;
}

/* ICONS */

.icon.format-pr,
.icon.format-cd {
	background-image: url("../../Images/FIDMOVE/Buch.svg"); }
.icon.format-el {
	background-image: url("../../Images/FIDMOVE/Digitale Inhalte.svg"); }
.icon.format-av {
	background-image: url("../../Images/FIDMOVE/Video.svg"); }
.icon.format-dc {
	background-image: url("../../Images/FIDMOVE/Daten.svg"); }
.icon.format-mf {
	background-image: url("../../Images/FIDMOVE/Bilder.svg"); }
.icon {
	background-image: url("../../Images/FIDMOVE/e-book-placeholder.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 80%;
	resize: both; }
.search-content .single-book-section .icon {
    height: 100px;
    width: 40px; }

@media screen and (max-width: 575px) {
    .search-content .single-book-section .icon {
        height: 100px;
        width: 100px;
    }
}

.details-page .document-page .document-details .icon {
    height: auto;
    width: 120px; }
.details-page .document-page .similar-results .icon {
    height: 60px;
	width: 80px; }

.hitlist .line-license { margin-top: -15px; }
.document-details .line-license { margin-top: -30px; }
.label-license { display: inline-block; line-height: 16px; padding-top: 2px; padding-bottom: 2px; background-color: #b4b4b4; border: 1px solid #b4b4b4; }
.label-openaccess { padding-left: 43px; padding-right: 5px; background: #b4b4b4 url("../../Images/FIDMOVE/open-access.png") no-repeat 0 center; color: #ffffff; }
.label-nali { padding-left: 43px; padding-right: 5px; background: #b4b4b4 url("../../Images/FIDMOVE/dfg.png") no-repeat 0 center; color: #ffffff; }

/* Facets */
.facets ul li a { display: inline-block; width: 100%; padding-left: 30px; color: #4b4b4b; text-decoration: none; background: url("../../Images/FIDMOVE/facet-checkbox.png") 95% center no-repeat; }
.facets ul li.active a { background-image: url("../../Images/FIDMOVE/facet-checkbox-checked.png"); }
.facets ul li.restore a { padding-left: 0; background-image: none; }
.facets ul li a:hover .value { text-decoration: underline; }
.facets ul li a .value {
	display: inline-block;
	width: 70%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.facets ul li a .count {
	display: inline-block;
	overflow: hidden;
	/* width: 20%; */
	font-size: 0.85em;
}
.sidebar-search li.active {
	text-decoration: underline;
	font-weight: bold;
}

.sidebar-search h5.active {
	text-decoration: underline;
}

.hide {
    display: none;
}
